@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 5;
    border-bottom: 2.5px solid green;
}

#left-hamburger {
    height: 100vh;
    width: 90px;
    position: fixed;
    right: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 3;
    border-left: 2.5px solid green;
}

#left-hamburger>div {
    position: absolute;
    top: 600px;
}

/* #left-hamburger>div>:nth-child(2) {
    position: absolute;
    top: 600px;
    z-index: 400;
} */

#hamburger-page {
    display: none;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 100vw;
    height: 100%;
    background-color: whitesmoke;
    transition: right 0.5s ease-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

#hamburger-page.slide-in {
    right: 0;
}

#hamburger-page.slide-out {
    right: -120%;
}


@media (max-width : 900px) {
    #hamburger-icon {
        display: none;
    }

    #left-hamburger {
        display: none;
    }
}

@media (max-width : 899px) {
    #hamburger-icon {
        display: block;
        margin-top: -860px;

    }

    #cross-icon {
        display: block;
        margin-top: -860px;
    }

    #left-hamburger {
        display: block;
        border: none;
        position: fixed;
        top: 285px;
        height: 0px;
        background: none;
        box-shadow: none;
        backdrop-filter: none;
        z-index: 6;
    }
}

@media(min-width:901px) {
    #left-hamburger {
        position: fixed;

    }

    #hamburger-icon {
        margin-top: -200px;
    }

    #cross-icon {
        margin-top: -200px;
    }
}



/* main code of home page starts from here  */

#store-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: -10px;
    /* background-color: red; */
    overflow-x: scroll;

}

@media(min-width: 900px) {
    #store-container {
        width: 90%;
        margin-left: -30px;
        overflow: auto;
    }
}

@media(min-width: 1000px) {
    #store-container {
        width: 80%;
        margin-left: 70px;
        overflow: auto;
    }
}

.stores-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-left: 20px;
    border-radius: 5px;
    width: 280px;
    height: 380px;
    padding: 18px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    #store-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #store-container {
        grid-template-columns: 1fr;
    }
}

.stores-card:active {
    transform: rotate3d(0, 1, 0.5, 10.142rad);
    box-shadow: 15px 5px 5px grey;
    backdrop-filter: blur(10px);
}

.store-img {
    width: 230px;
    height: 230px;
    background-color: red;
    border-radius: 5px;
}


.store-details {
    text-align: left;
    padding-top: 20px;
    margin-left: -50px;
}

.store-details>a>button {
    margin-top: 20px;
    margin-left: 70px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid green;
    font-size: 17px;
    text-align: center;
}