@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
}

#main {
    position: absolute;
    margin-top: 60px;
}

#nav-bar>#main-logo>a {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.721);
    border-radius: 5px;
}

#nav-bar {
    width: 100vw;
    height: 50px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    /* border-bottom: 1px solid black; */
    position: fixed;
    z-index: 10;
}

#nav-menu {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-right: 35px;
}

@media (max-width : 960px) {
    #nav-menu {
        gap: 35px;
    }
}

@media (max-width : 860px) {
    #nav-menu {
        gap: 26px;
        padding-right: 30px;
    }

    #nav-bar {
        font-size: 17px;
    }
}

@media (max-width : 800px) {
    #nav-menu {
        gap: 20px;
        padding-right: 30px;
    }

    #nav-bar {
        font-size: 17px;
    }
}

@media (max-width : 760px) {
    #nav-menu {
        gap: 17px;
        padding-right: 25px;
    }

    #nav-bar {
        font-size: 17px;
    }
}

@media (max-width : 735px) {
    #nav-menu {
        display: none;
    }

}

#nav-menu>a {
    text-decoration: none;
    color: black;
}

#nav-menu>a:nth-child(5) {
    background-color: rgba(255, 255, 255, 0.721);
    border-radius: 5px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hamburger {
    padding-right: 20px;
}

@media (min-width: 735px) {
    #hamburger {
        display: none;
    }
}

#hamburger-menu {
    /* display: block; */
    width: 100vw;
    height: 100vh;
    background-color: grey;
    position: fixed;
    display: none;
    top: 50px;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

#cross-icon {
    display: none; /* Initially hidden */
    opacity: 0;   /* Start with zero opacity */
    transition: opacity 0.2s ease-out; /* Transition effect */
}

#hamburger-menu.show , #cross-icon.show{
    display: block;
    opacity: 1;
}
#hamburger-menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: red;
    width: 100vw;
    height: 100vh;
}

#hamburger-menu-items>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#hamburger-menu-items p {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


#language-menu {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: none;
    margin-top: 60px;
}

#language-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    font-size: 20px;
}



/* Shop Keeper Login code starts from here */

#shop-div-main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#shop-div {
    width: 400px;
    height: 400px;
    background-color: grey;
    border-radius: 5px;
}

@media (max-width: 500px) {
    #shop-div{
        width: 380px;
        height: 400px;
        background-color: grey;
        border-radius: 5px;
    }
}
@media (max-width: 425px) {
    #shop-div{
        width: 350px;
        height: 400px;
        background-color: grey;
        border-radius: 5px;
        padding: 10px;
    }
}

@media (max-width: 405px) {
    #shop-div{
        width: 350px;
        height: 400px;
        background-color: grey;
        border-radius: 5px;
    }
    #shop-div input{
        width: 130px;
        /* margin-left: 20px; */
    }
}
@media (max-width: 390px) {
    #shop-div{
        width: 350px;
        height: 400px;
        background-color: grey;
        border-radius: 5px;
    }
    #shop-form-div {
        margin-left: 0px;
    }
}

#shop-div input {
    background-color: transparent;
    border: none;
    border: 1px solid black;
    margin-left: 30px;
}

#submit {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 170px;
    margin-top: 20px;
    float: right;
}

/* Shop Keeper Login code ends from here */
