@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 1001; /* Ensure it's above other content */
    border-bottom: 2.5px solid green;
}

#left-hamburger{
    height: 100vh;
    width: 90px;
    position: fixed;
    right: 0px;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    transition: all 0.3s ease;
    z-index: 99; /* Ensure it's above other content */
    border-left: 2.5px solid green;
}

#hamburger-page {
    display: none;
    position: fixed;
    top: 0;
    right: -300px; /* Start off-screen */
    width: 100vw; /* Set the width of the menu */
    height: 100%; /* Full height */
    background-color: whitesmoke; /* Change to red or your desired color */
    transition: right 0.5s ease-out; /* Smooth transition */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for better visibility */
}

#hamburger-page.slide-in {
    right: 0; /* Slide in */
}

#hamburger-page.slide-out {
    right: -120%; /* Slide out */
}